<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">home</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerlinkactive="active"><a>about</a></li>
        <li routerlinkactive="active"><a></a></li>
        <li routerlinkactive="active"><a>contact</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown" appdropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">links <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;">linkedin</a></li>
            <li><a style="cursor: pointer;">github</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
</div>
