
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<footer class="container-fluid text-center">
  <div class="info-box">
    <div class="footnote">
      <div class="social-menu">
        <br /><br />
        <ul>
          <li><a href="https://github.com/EdwardVilla0"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/eduardo-villasenor-b4972527/"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCHT9SREz48SBxado-ok6ZHg?view_as=subscriber"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
      <br />
      <div class="copy-right">
          Eduardo Villasenor
          <span class="highlight">@2020</span>
      </div>
    </div>
  </div>
</footer>
