* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  padding-top: 25px;
}
.imgcolumn{
    text-align: center;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.section-title {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 2.250em;
  font-weight: 300;
  color: #0f1025;
  text-transform: uppercase;
  display: block;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: 25px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.line {
  display: block;
  width: 240px;
  height: 3px;
  padding: 0 !important;
  background: #ccc;
}

.list1{
    float: left;
    margin-right: 100px;
    margin-left: 20px;
    text-align: left;
}
.list2{
    text-align: left;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .column {
    width: 100%;
    text-align: center;
  }
  .list1{
      text-align: center;
      width: 100%;
  }
  .list2{
      text-align: center;
      width: 100%;
  }
}
