<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="my-background">
        <h1 class="title">About me</h1>
        <p>
          Hi! I'm Eduardo, most people know my by Edward. <br />
          I'm a software engineer based in California. I love <br />
          creating things for people to marval at. Whether<br />
          that be art, applications or websites, I always put <br />
          my heart in any work that I do. <br /><br />


        </p>
      </div>
      
    </div>
  </div>
</section>
