<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <section id="aboutMe">
        <div class="column-full">
          <h2 class="section-title">About me</h2>
          <div class="centered line"></div>
        </div>
        
        <div class="row section-content">
          <div class="col-1" style="text-align:center;">
            <img src="../assets/img/picMe.jpg" style="height: 500px;" />
          </div>
          <div class="col-1">
            <h4>Hi! I'm Eduardo, </h4>
            <p>
              Most people know my by Edward.
              I'm a software <br />engineer based in California. I love
              creating things<br /> for people to marval at. Whether
              that be art,<br />  applications or websites, I always put
              my heart <br /> into any work that I do. <br /><br />

              After graduating from CSU Monterey Bay, I joined a <br />
              small software company that helped school districts<br />
              throughout California, manage position control and <br />
              payroll. <br /><br />

              These are a few of the technologies that I have been<br />
              using recently<br />
            </p>

            <u class="list1">
              <li>JavaScript</li>
              <li>TypeScript</li>
              <li>Angular</li>
            </u>
            <u class="list2">
              <li>SQL</li>
              <li>Node.js</li>
              <li>HTML & CSS</li>
            </u>
          </div>
          <div class="col-1">
            <h1>Hobbies & Interest</h1>
            <p>
              Apart from creating websites and learning<br />
              new technologies, I like to spend my time traveling <br />
              and exploring new locations with friends.
            </p>
          </div>
          </div>
</section>
    </div>
  </div>
</section>
