<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <!--my background details-->
      <div class="my-background">
        <h1 class="title">About me</h1>
        <p>
          Hi! I'm Eduardo, most people know my by Edward. <br />
          I'm a software engineer based in California. I love <br />
          creating things for people to marval at. Whether<br />
          that be art, applications or websites, I always put <br />
          my heart in any work that I do. <br /><br />

          After graduating from CSU Monterey Bay, I joined a <br />
          small software company that helped school districts<br />
          throughout California, manage position control and <br />
          payroll. <br /><br />

          These are a few of the technologies that I have been<br />
          using recently<br />

        </p>
        <u class="list1">
          <li>JavaScript</li>
          <li>TypeScript</li>
          <li>Angular</li>
        </u>
        <u class="list2">
          <li>SQL</li>
          <li>Node.js</li>
          <li>HTML & CSS</li>
        </u>
      </div> <br />
      <!--picture gallary-->
      <div class="imgContainer">
        <div class="imgRow">
          <img src="../assets/img/3.jpg" id="img3" />
          <img src="../assets/img/4.jpg" id="img2" />
        </div>
        <div class="imgColumn">
          <img src="../assets/img/me.jpg" id="img1" />
          <img src="../assets/img/2.jpg" id="img4" />
        </div>
      </div>
    </div>
  </div>
</section>
