<div class="container-fluid">
  <ul>
    <li>
      <button id="tab-0"
              role="tab"
              aria-selected="false"
              aria-controls="panel-0"
              tabindex="-1"
              class="list1">
        <span>Freelance</span>
      </button>
    </li>
    <li>
      <button id="tab-1"
              role="tab"
              aria-selected="false"
              aria-controls="panel-0"
              tabindex="-1"
              class="list1">
        <span>Digital Schools</span>
      </button>
    </li>
    <li>
      <button id="tab-2"
              role="tab"
              aria-selected="false"
              aria-controls="panel-0"
              tabindex="-1"
              class="list1">
        <span>North County</span>
      </button>
    </li>
    <li>
      <button id="tab-3"
              role="tab"
              aria-selected="false"
              aria-controls="panel-0"
              tabindex="-1"
              class="list1">
        <span>Heaven on Earth</span>
      </button>
    </li>
  </ul>
  <div id="panel-0">
    <h4>engineer</h4>
  </div>
  <div id="panel-1">
    <h4>engineer</h4>
  </div>
  <div id="panel-2">
    <h4>engineer</h4>
  </div>
  <div id="panel-3">
    <h4>engineer</h4>
  </div>
</div>
