body {
  font-family: sans-serif;
  background: url(../../assets/img/background.jpg);
  background-color: rgb(204, 214, 246);
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  position: relative;
}

.fa {
  color: #000000;
  font-size: 25px;
  transition: .5s;
  position: relative;
  float: right;
  margin-left: 4%;
}
.box {
  
  color: white;
  font-size: 70px;
}

/*----------------------------------------------------------------------------------------------------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.75);
  z-index: 50;
}

.alert-box {
  position: fixed;
  top: 30vh;
  left: 20vw;
  width: 60vw;
  padding: 16px;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.26);
  //background: url(../../assets/img/background.jpg);
}

.alert-box-action {
  text-align: right;
}
